<!--<div class="container-fluid card login-container">
  <h3 class="text-center">Login</h3>
  <hr />
  <div *ngIf="errorMsg.length" class="alert alert-danger" role="alert">
    <p *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="mb-3">
    <label class="form-label" for="login">Email address</label>
    <input [(ngModel)]="authRequest.email" class="form-control" id="login" placeholder="name@example.com"
           type="email" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input [(ngModel)]="authRequest.password" class="form-control" id="password" placeholder="Password"
           type="password" />
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="login()" class="btn btn-primary" type="button">
      <em class="fas fa-sign-in-alt">&nbsp;Sign in</em>
    </button>
    <div class="align-bottom">
      Don't have an account?&nbsp;
      <button (click)="register()" class="btn btn-link" type="button">
        Register
      </button>
    </div>
  </div>
</div>-->
