@if (isSubmitted) {
  <div class="container d-flex justify-content-center align-items-center vh-100">
    @if (isSuccess) {
      <div class="text-center">
        <h2>Activation successful</h2>
        <p>Your account has been successfully activated. You can now <a routerLink="/login">sign in</a></p>
      </div>
    } @else {
      <div class="text-center">
        <h2>Activation failed</h2>
        <p class="text-danger">{{message}}</p>
        <button (click)="isSubmitted = false" class="btn btn-primary" type="button">Try again</button>
      </div>
    }
  </div>
} @else {
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center w-50">
      <h2>Enter your activation code</h2>
      <code-input (codeCompleted)="onCodeCompleted($event)" [codeLength]="codeLength" [code]="'number'"
        [initialFocusField]="0" [isCodeHidden]="false" />
    </div>
  </div>
}
