<div class="container-fluid card register-container">
  <h3 class="text-center">Create an account</h3>
  <hr />
  <div *ngIf="errorMsg.length" class="alert alert-danger" role="alert">
    <p *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="mb-3">
    <label class="form-label" for="firstname">First name</label>
    <input [(ngModel)]="regRequest.firstname" class="form-control" id="firstname" placeholder="First name"
           type="text" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="lastname">Last name</label>
    <input [(ngModel)]="regRequest.lastname" class="form-control" id="lastname" placeholder="Last name"
           type="text" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="login">Email address</label>
    <input [(ngModel)]="regRequest.email" class="form-control" id="login" placeholder="name@example.com"
           type="email" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input [(ngModel)]="regRequest.password" class="form-control" id="password" placeholder="Password"
           type="password" />
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="register()" class="btn btn-primary" type="button">
      <em class="fas fa-sign-in-alt">&nbsp;Create an account</em>
    </button>
    <div class="align-bottom">
      Already have an account?&nbsp;
      <button (click)="login()" class="btn btn-link" type="button">
        Sign in
      </button>
    </div>
  </div>
</div>
